In [1]:
# import pandas & time library
import pandas as pd
import numpy as np
import datetime

In [2]:
# check version of pandas
pd.__version__

'1.4.2'

In [3]:
# readinf the csv file and storing in a dataframe 
df = pd.read_csv('bpd_part_1_victim_based_crime_data.csv')

In [4]:
# dataset overview
df.head(3)

,crimedate,crimetime,crimecode,location,description,inside_outside,weapon,post,district,neighborhood,location_1,total_incidents
0,2016-11-12,02:35:00,3B,300 SAINT PAUL PL,ROBBERY - STREET,O,NaN,111.0,CENTRAL,Downtown,POINT(-76.61408 39.29241),True
1,2016-11-12,02:56:00,3CF,800 S BROADWAY,ROBBERY - COMMERCIAL,I,FIREARM,213.0,SOUTHEASTERN,Fells Point,POINT(-76.59288 39.28242),True
2,2016-11-12,03:00:00,6D,1500 PENTWOOD RD,LARCENY FROM AUTO,O,NaN,413.0,NORTHEASTERN,Stonewood-Pentwood-Winston,POINT(-76.58834 39.34805),True

In [5]:
# check for unique value
df.inside_outside.unique()

array(['O', 'I', 'Outside', 'Inside', nan], dtype=object)

In [6]:
# let's replace Outside with 'O',Inside with 'I' with 'NAN' Unknown then convert to a string value
df['inside_outside'] = df['inside_outside'].apply(lambda x: str(x).replace('Inside', 'I').replace('Outside', 'O').replace('nan','Unknown'))

In [7]:
# check for types of weapon
df.weapon.unique()

array([nan, 'FIREARM', 'HANDS', 'OTHER', 'KNIFE'], dtype=object)

In [8]:
# let's also replace nan with 'OTHER' and convert to a string value
df['weapon'] = df['weapon'].apply(lambda x: str(x).replace('nan', 'OTHER')).str.title()

In [9]:
# check for unique features
df['district'].unique()

array(['CENTRAL', 'SOUTHEASTERN', 'NORTHEASTERN', 'SOUTHERN', 'WESTERN',
       'SOUTHWESTERN', 'EASTERN', 'NORTHERN', 'NORTHWESTERN', nan,
       'NORTHESTERN', 'SOUTHESTERN', 'Gay Street', 'Central'],
      dtype=object)

In [10]:
df['district'] = df['district'].apply(lambda x: str(x).replace('NORTHESTERN', 
                 'NORTHEASTERN').replace('SOUTHESTERN', 
                 'SOUTHEASTERN').replace('nan', 'Unknown').replace('Central', 'CENTRAL')).str.title()

In [11]:
# change location and description to title from uppercase
df['location'] = df['location'].str.title()
df['description'] = df['description'].str.title()

In [12]:
# split location_1 into latitude and longitude and drop location_1
df['latitude'] = df['location_1'].apply(lambda x: str(x).split()[-1].replace(')','')).astype(float)
df['longitude'] = df['location_1'].apply(lambda x: str(x).split()[0].replace('POINT','').replace('(','')).astype(float) 
df.drop('location_1', axis = 1)

,crimedate,crimetime,crimecode,location,description,inside_outside,weapon,post,district,neighborhood,total_incidents,latitude,longitude
0,2016-11-12,02:35:00,3B,300 Saint Paul Pl,Robbery - Street,O,Other,111.0,Central,Downtown,True,39.29241,-76.61408
1,2016-11-12,02:56:00,3CF,800 S Broadway,Robbery - Commercial,I,Firearm,213.0,Southeastern,Fells Point,True,39.28242,-76.59288
2,2016-11-12,03:00:00,6D,1500 Pentwood Rd,Larceny From Auto,O,Other,413.0,Northeastern,Stonewood-Pentwood-Winston,True,39.34805,-76.58834
3,2016-11-12,03:00:00,6D,6600 Milton Ln,Larceny From Auto,O,Other,424.0,Northeastern,Westfield,True,39.36263,-76.55161
4,2016-11-12,03:00:00,6E,300 W Baltimore St,Larceny,O,Other,111.0,Central,Downtown,True,39.28938,-76.61971
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285802,2011-01-01,22:15:00,4D,6800 Mcclean Bd,Agg. Assault,I,Hands,423.0,Northeastern,Hamilton Hills,True,39.37047,-76.56705
285803,2011-01-01,22:30:00,6J,3000 Odonnell St,Larceny,I,Other,232.0,Southeastern,Canton,True,39.28046,-76.57273
285804,2011-01-01,23:00:00,7A,2500 Arunah Av,Auto Theft,O,Other,721.0,Western,Evergreen Lawn,True,39.29542,-76.65928
285805,2011-01-01,23:25:00,4E,100 N Monroe St,Common Assault,I,Hands,714.0,Western,Penrose/Fayette Street Outreach,True,39.28999,-76.64707
285806,2011-01-01,23:38:00,4D,800 N Fremont Av,Agg. Assault,I,Hands,123.0,Western,Upton,True,39.29812,-76.63391

In [13]:
# change crimedate from object to datetime  
df['crimedate'] = pd.to_datetime(df['crimedate'], errors='coerce', format='%Y/%m/%d')

In [14]:
# connecting to instance of postgres running on my local machine
from sqlalchemy import create_engine

In [15]:
# login into postgres
engine = create_engine('postgresql://jkop:root@localhost:5431/baltimoreDB')

In [16]:
# check connection
engine.connect()

In [17]:
# query table from db
query = """
SELECT 1 as number
"""

pd.read_sql(query, con=engine)

   number
0       1

In [18]:
# checking for available table on db
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [19]:
# save data into postgres db
df.to_sql(name='baltimore_crime_data', con=engine, index=False)

807

In [20]:
# quering the first 5 rows 
query = """
SELECT * FROM baltimore_crime_data LIMIT 5
"""

pd.read_sql(query, con=engine)

,crimedate,crimetime,crimecode,location,description,inside_outside,weapon,post,district,neighborhood,location_1,total_incidents,latitude,longitude
0,2016-11-12,02:35:00,3B,300 Saint Paul Pl,Robbery - Street,O,Other,111.0,Central,Downtown,POINT(-76.61408 39.29241),True,39.29241,-76.61408
1,2016-11-12,02:56:00,3CF,800 S Broadway,Robbery - Commercial,I,Firearm,213.0,Southeastern,Fells Point,POINT(-76.59288 39.28242),True,39.28242,-76.59288
2,2016-11-12,03:00:00,6D,1500 Pentwood Rd,Larceny From Auto,O,Other,413.0,Northeastern,Stonewood-Pentwood-Winston,POINT(-76.58834 39.34805),True,39.34805,-76.58834
3,2016-11-12,03:00:00,6D,6600 Milton Ln,Larceny From Auto,O,Other,424.0,Northeastern,Westfield,POINT(-76.55161 39.36263),True,39.36263,-76.55161
4,2016-11-12,03:00:00,6E,300 W Baltimore St,Larceny,O,Other,111.0,Central,Downtown,POINT(-76.61971 39.28938),True,39.28938,-76.61971

In [21]:
# quering the number of rows 
query = """
SELECT count(*) FROM baltimore_crime_data 
"""

pd.read_sql(query, con=engine)

    count
0  285807

In [22]:
# get a schema to determine column and datatypes
print(pd.io.sql.get_schema(df, name='baltimore_crime_data', con=engine))

CREATE TABLE baltimore_crime_data (
	crimedate TIMESTAMP WITHOUT TIME ZONE,
	crimetime TEXT,
	crimecode TEXT,
	location TEXT,
	description TEXT,
	inside_outside TEXT,
	weapon TEXT,
	post FLOAT(53),
	district TEXT,
	neighborhood TEXT,
	location_1 TEXT,
	total_incidents BOOLEAN,
	latitude FLOAT(53),
	longitude FLOAT(53)
)